{% extends 'base.html.twig' %}

{% block title %}Administration des commentaires{% endblock %}

{% block content %}

    <section class="intro">
        <h1 class="intro-title">Administration des commentaires</h1>
    </section>
    <section>
        {% if comments|length > 0 %}
            <p class="comment-title">Liste des commentaires à valider :</p>
            <div class="comments-container">
                {% for i in 0..comments|length - 1 %}
                    <div class="comment-item">
                        <div class="comment-user">
                            <img class="comment-user-image" src="/blog/{{ comments_authors[i].image }}" alt="user-image"/>
                            <p class="comment-user-name">{{ comments_authors[i].lastname }} {{comments_authors[i].firstname }}</p>
                        </div>
                        <p>{{ comments[i].message }}</p>
                        <p class="comment-date">{{ comments[i].createdAt|date('d-m-Y') }}</p>
                        <div class="comment-options">
                            <a class="refuse" href="/blog/posts/{{ post.id }}/comments/{{ comments[i].id }}/refuse_comment">Refuser</a>
                            <a class="accept" href="/blog/posts/{{ post.id }}/comments/{{ comments[i].id }}/valid_comment">Accepter</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
        {% else %}
            <p>Aucun commentaire à valider pour le moment<p>
        {% endif %}
    </section>

{% endblock %}
