{% extends "base.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <section>
        <h1>{{ post.title }}</h1>
        <p>{{ post.chapo }}</p>
        <img class="post-image" src="{{ post.image }}" alt="{{ post.image }}"/>
        <p>{{ post.content }}</p>
        <a href="/blog/posts/{{ post.id }}/comments/new">Ajouter un commentaire</a>
        {% if post.idUser == current_user_id %}
            <a href="/blog/posts/{{ post.id }}/edit">Modifier le post</a>
            <a href="/blog/posts/{{ post.id }}/comments/admin">Administration des commentaires</a>
        {% endif %}
        {% for comment in comments %}
            <p>{{ comment.message }}</p>
        {% endfor %}
    </section>
{% endblock %}