<!DOCTYPE html>
<html>
    <head>
        <title>Edit Post</title>
    </head>
    <body>
        <a href="/blog">Accueil</a>
        <h1>Edit Post</h1>
        <form action="/blog/posts/{{ id }}/edit" method="POST" enctype="multipart/form-data">
            <div>
                <label for="title">Titre</label><br/>
                <input type="text" id="title" name="title" value="{{ title }}"/>
            </div>
            <div>
                <label for="chapo">Chapô</label><br/>
                <input type="text" id="chapo" name="chapo" value="{{ chapo }}"/>
            </div>
            <div>
                <label for="image">Image</label><br/>
                <input type="file" id="image" name="image" value="{{ image }}"/>
            </div>
            <div>
                <label for="content">Contenu</label><br/>
                <input type="text-area" id="content" name="content" value="{{ content }}"/>
            </div>
            <div>
                <input type="submit"/>
            </div>
        </form>
    </body>
</html>